<nav class="mzp-c-sidemenu">
    <section class="mzp-c-sidemenu-main" id="sidebar-menu">
        <h4 class="mzp-c-sidemenu-title">
            <a href="/">Blog</a>
        </h4>
        <ul>
            <li class="@GetActive(_home, NavLinkMatch.All)">
                <NavLink href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li class="@GetActive(_counter)">
                <NavLink href="@_counter">
                    Counter
                </NavLink>
            </li>
            <li class="@GetActive(_fetchdata)">
                <NavLink href="@_fetchdata">
                    Fetch data
                </NavLink>
            </li>
        </ul>
    </section>
</nav>

@code {
    private const string _home = "";
    private const string _counter = "counter";
    private const string _fetchdata = "fetchdata";

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    protected override void OnInitialized()
        => NavigationManager.LocationChanged += (s, e) => StateHasChanged();

    private bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    private string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
        => IsActive(href, navLinkMatch) ? "mzp-is-current" : "";
}
