@model List<IndexPostViewModel>

@{
    ViewBag.Title = "Home Page";
}
<style>
    section.featured-posts .text-inner {
        padding: 7.5% 30px;
    }
</style>

<!-- Hero Section-->
<section style="background: url(@Url.Content(@"~/TemplateContent/img/hero-bg.jpg")); background-size: cover; background-position: center;" class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>Everett Grassler's Blog</h1>
                <p>
                    <a href=".latest-posts" class="hero-link link-scroll">Discover More</a>@* UPDATE THIS LINK *@
                </p>
                <a href=".featured-posts" class="hero-link link-scroll">See All Posts</a>@* UPDATE THIS LINK *@
            </div>
        </div>
        <a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
    </div>
</section>


<!-- Intro Section-->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="h3">Some great intro here</h2>
                <p class="text-big">
                    All posts have meaningful content... I promise
                </p>
            </div>
        </div>
    </div>
</section>


<!-- Latest Posts -->
<section class="latest-posts">
    <div class="container">

        <header>
            <h2>Latest from the blog</h2>
            <p class="text-big">Have a look.</p>
        </header>



        <!-- Latest Posts Start -->
        <div class="row">

            @if (!Model.Any())
            {
                <p>Sorry no posts where found</p>
            }
            else
            {
                foreach (IndexPostViewModel post in Model.Take(6))
                {
                    string postLink = string.IsNullOrEmpty(post.HeroImageUrl) || string.IsNullOrWhiteSpace(post.HeroImageUrl) ? "" : Url.Content($@"{post.HeroImageUrl}");
                    <div class="post col-md-4" style="margin-bottom: 15px;">
                        <div class="post-thumbnail">

                            @* UPDATE THIS LINK *@
                            <a href="@Url.Action("Post", new { Id = post.Id })">
                                <img class="img-fluid" src="@postLink" alt="...">
                            </a>
                        </div>

                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date">@post.GetPostDateAndTime()</div>

                                @if (User.IsInRole(nameof(SD200_Final_Project_Blog.Models.Domain.UserRolesEnum.Admin)))
                                {
                                    <form action="@Url.Action("DeletePost", new { Id = post.Id })" method="post">
                                        <div class="category">
                                            <a class="text-info" href="@Url.Action("EditPost", new { Id = post.Id })">Edit</a>
                                            <button class="text-danger">Delete</button>
                                        </div>
                                    </form>
                                }

                            </div>

                            @* UPDATE THIS LINK *@
                            <a href="@Url.Action("Post", new { Id = post.Id })">
                                <h3 class="h4">@post.Title</h3>
                            </a>

                            <p class="text-muted">
                                @post.GetMiniBody(25)
                                @Html.ActionLink(" . . . Read More", "Post", "Home", new { Id = post.Id }, new { })
                            </p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>


<!-- Divider Section-->
<section style="background: url(@Url.Content(@"~/TemplateContent/img/hero.jpg")); background-size: cover; background-position: center; margin-bottom: 75px;" class="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>
                    All Posts below
                </h2>
                <a href=".hero" class="hero-link link-scroll">Back to the Top</a>@* UPDATE THIS LINK *@
            </div>
        </div>
    </div>
</section>



<!-- Posts -->
<section class="featured-posts no-padding-top">
    <div class="container">

        @if (!Model.Any())
        {
            <p>Sorry no posts to display</p>
        }
        else
        {
            <style>
                form .category button {
                    color: #2b90d9;
                    letter-spacing: 0.08em;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 13px;
                    color: inherit;
                    text-decoration: none;
                    border: none;
                    background: none;
                }
            </style>

            int counter = 0;
            foreach (IndexPostViewModel post in Model/*.Take(4)*/)//I just for now I'll be adding the blog page that will display all instead of this main page
            {
                string postName = string.IsNullOrEmpty(post.PostAuthorName) && string.IsNullOrEmpty(post.PostAuthorName) ? "Anonymous User" : post.PostAuthorName;
                string postLink = string.IsNullOrEmpty(post.HeroImageUrl) || string.IsNullOrWhiteSpace(post.HeroImageUrl) ? "" : Url.Content($@"{post.HeroImageUrl}");
                if (counter % 2 == 0)
                {
                    <div class="row d-flex align-items-stretch">
                        <div class="text col-lg-7">
                            <div class="text-inner d-flex align-items-center">
                                <div class="content">

                                    <header class="post-header">
                                        @if (User.IsInRole(nameof(SD200_Final_Project_Blog.Models.Domain.UserRolesEnum.Admin)))
                                        {
                                            <form action="@Url.Action("DeletePost", new { Id = post.Id })" method="post">
                                                <div class="category">
                                                    <a class="text-info" href="@Url.Action("EditPost", new { Id = post.Id })">Edit</a>
                                                    <button class="text-danger">Delete</button>
                                                </div>
                                            </form>
                                        }

                                        @* UPDATE THIS LINK *@
                                        <a href="@Url.Action("Post", new { Id = post.Id })">
                                            <h2 class="h4">@post.Title</h2>
                                        </a>
                                    </header>

                                    <div class="index-post-body">
                                        @(post.GetMiniBody(50) + " . . .")
                                    </div>

                                    <footer class="post-footer d-flex align-items-center">
                                        <a href="#" class="author d-flex align-items-center flex-wrap">
                                            @*<div class="avatar">
                                                    <img src="@Url.Content(@"~/TemplateContent/img/avatar-1.jpg")" alt="..." class="img-fluid">
                                                </div>*@

                                            <div class="title">
                                                <span>@postName</span>
                                            </div>
                                        </a>

                                        <div class="date"><i class="icon-clock"></i> @post.GetPostTimeFromNow()</div>

                                        @*<div class="comments"><i class="icon-comment"></i>12</div>*@
                                    </footer>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5" style="padding: 0px;">
                            <a href="@Url.Action("Post", new { Id = post.Id })">
                                <img class="img-fluid" src="@postLink" alt="...">
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row d-flex align-items-stretch">
                        <div class="col-lg-5" style="padding: 0px;">
                            <a href="@Url.Action("Post", new { Id = post.Id })">
                                <img class="img-fluid" src="@postLink" alt="...">
                            </a>
                        </div>

                        <div class="text col-lg-7">
                            <div class="text-inner d-flex align-items-center">
                                <div class="text-inner d-flex align-items-center">
                                    <div class="content">

                                        <header class="post-header">
                                            @if (User.IsInRole(nameof(SD200_Final_Project_Blog.Models.Domain.UserRolesEnum.Admin)))
                                            {
                                                <form action="@Url.Action("DeletePost", new { Id = post.Id })" method="post">
                                                    <div class="category">
                                                        <a class="text-info" href="@Url.Action("EditPost", new { Id = post.Id })">Edit</a>
                                                        <button class="text-danger">Delete</button>
                                                    </div>
                                                </form>
                                            }

                                            <a href="@Url.Action("Post", new { Id = post.Id })">
                                                <h2 class="h4">@post.Title</h2>
                                            </a>
                                        </header>

                                        <div class="index-post-body">
                                            @(post.GetMiniBody(50) + " . . .")
                                        </div>

                                        <footer class="post-footer d-flex align-items-center">
                                            <a href="#" class="author d-flex align-items-center flex-wrap">
                                                @*<div class="avatar">
                                                        <img src="@Url.Content("~/TemplateContent/img/avatar-2.jpg")" alt="..." class="img-fluid">
                                                    </div>*@

                                                <div class="title">
                                                    <span>@postName</span>
                                                </div>
                                            </a>

                                            <div class="date"><i class="icon-clock"></i> @post.GetPostTimeFromNow()</div>

                                            @*<div class="comments"><i class="icon-comment"></i></div>*@
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                counter++;
            }
        }
    </div>
</section>











@* Normal Post Template *@
@* Post picture right *@
<!--
<div class="row d-flex align-items-stretch">
    <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
            <div class="content">

                <header class="post-header">


                    <div class="category">
                        <a href="#">Business</a>@* UPDATE THIS LINK *@
                        <a href="#">Technology</a>@* UPDATE THIS LINK *@
                    </div>

                    @* UPDATE THIS LINK *@
                    <a href="./post.html">
                        <h2 class="h4">@*@post.Title*@</h2>
                    </a>
                </header>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>

                <footer class="post-footer d-flex align-items-center">
                    <a href="#" class="author d-flex align-items-center flex-wrap">
                        <div class="avatar">
                            <img src="@*@Url.Content(@"~/TemplateContent/img/avatar-1.jpg")*@" alt="..." class="img-fluid">
                        </div>

                        <div class="title">
                            <span>John Doe</span>
                        </div>
                    </a>

                    <div class="date"><i class="icon-clock"></i> @*@(post.DateCreated.Day - DateTime.Today.AddDays(-2).Day)*@ days ago</div>


                    <div class="comments"><i class="icon-comment"></i>12</div>

                </footer>

            </div>
        </div>
    </div>

    <div class="image col-lg-5">
        <img src="@*@Url.Content(@"~/TemplateContent/img/featured-pic-1.jpeg")*@" alt="...">
    </div>
</div>



@* Post image left side *@
<div class="row d-flex align-items-stretch">
    <div class="image col-lg-5">
        <img src="./img/featured-pic-2.jpeg" alt="...">
    </div>
    <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
            <div class="text-inner d-flex align-items-center">
                <div class="content">
                    <header class="post-header">
                        <div class="category">
                            <a href="#">Business</a>
                            <a href="#">Technology</a>
                            <a href="#"></a>
                        </div>
                        <a href="./post.html">
                            <h2 class="h4">an Teach You About Interior</h2>
                        </a>
                        </a>
                    </header>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrude
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                    </p>
                    <footer class="post-footer d-flex align-items-center">
                        <a href="#" class="author d-flex align-items-center flex-wrap">
                            <div class="avatar">
                                <img src="./img/avatar-2.jpg" alt="..." class="img-fluid">
                            </div>
                            <div class="title">
                                <span>John Doe</span>
                            </div>
                        </a>
                        <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                        <div class="comments"><i class="icon-comment"></i></div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
-->
@* Latest Post Template *@
<!--
<div class="post col-md-4">
    <div class="post-thumbnail">

        @* UPDATE THIS LINK *@
        <a href="./post.html">
            <img src="@*@Url.Content(@"~/TemplateContent/img/blog-1.jpg")*@" alt="..." class="img-fluid">
        </a>
    </div>

    <div class="post-details">
        <div class="post-meta d-flex justify-content-between">
            <div class="date">@*@post.DateCreated.ToString("m") | @post.DateCreated.Year*@</div>


            <div class="category">
                <a href="#">Business</a>@* UPDATE THIS LINK *@
            </div>

        </div>

        @* UPDATE THIS LINK *@
        <a href="./post.html">
            <h3 class="h4">@*@post.Title*@</h3>
        </a>

        <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
        </p>
    </div>
</div>
-->
